* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
    background: #000;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0 auto;
}

._form-branding {
    display: none;

}
.h1 {
    font-family: 'Poppins';
    font-weight: bold;
}

/* INICIO ANIMAÇÃONO TEXTO **DEVCLUB** */
.h1 span {
    font-family: 'Poppins';
    font-weight: bold;
    animation-name: brilho;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.h1 .d {
    animation-delay: 0.25s;
}

.h1 .e {
    animation-delay: 0.50s;
}

.h1 .v {
    animation-delay: 0.75s;
}

.h1 .c {
    animation-delay: 1.0s;
}

.h1 .l {
    animation-delay: 1.25s;
}

.h1 .u {
    animation-delay: 1.50s;
}

.h1 .b {
    animation-delay: 1.70s;
}

@keyframes brilho {
    0% {
        color: #00DC00;
        text-shadow: 0 0 12px #03ff03, 0 0 50px #03ff03, 0 0 100px #03ff03;
    }

    10%,
    90% {
        color: #00DC00;
        text-shadow: none;
    }
}
/* FIM ANIMAÇÃO NO TEXTO **DEVCLUB** */
/* INICIO ESTILOS INPUT / BOTÃO */
#email {
    color: #FFFFFF !important;
    background-color: #FFFFFF33 !important;
    border: none !important;
    height: 45px !important;
}
#email, #_form_29_submit {
    width: 100% !important;
    border-radius: 14px !important;
}
/* FIM ESTILOS INPUT / BOTÃO */
