@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/fonts/Poppins/Poppins-Bold.ttf)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
    background: #000;
    font-family: 'Poppins', sans-serif;
}



body {
    width: 700px;
    margin: 0 auto;
}
@media (max-width: 720px) {
   body {
    width: 100%;
   } 
   .input-and-button {
    width: 90%;
   }
   #email, #_form_29_submit {
    width: 100% !important;
    height: 45px !important;
    border-radius: 14px !important;
}
}  

.imagem-logo {
    margin: 30px 0;
    max-width: 100%;
    width: 200px;
    
}
.imagem-logo:hover {
    transition: 2s;
    width: 205px;
}
.h1 {
    text-align: center;
    color: #00DC00;
    font-size: 30px;
    font-weight: 600;
    font-family: Poppins-Bold;
}

/* INICIO BRILHO TEXTO*/
.h1 span {
    animation-name: brilho;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-family: Poppins-Bold;

}

.h1 .d {
    animation-delay: 0.25s;
}

.h1 .e {
    animation-delay: 0.50s;
}

.h1 .v {
    animation-delay: 0.75s;
}

.h1 .c {
    animation-delay: 1.0s;
}

.h1 .l {
    animation-delay: 1.25s;
}

.h1 .u {
    animation-delay: 1.50s;
}

.h1 .b {
    animation-delay: 1.70s;
}

@keyframes brilho {
    0% {
        color: #00DC00;
        text-shadow: 0 0 12px #03ff03, 0 0 50px #03ff03, 0 0 100px #03ff03;
    }

    10%,
    90% {
        color: #00DC00;
        text-shadow: none;
    }
}

.h2 {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragrafo-copyright {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 200;
    margin-top: 60px;
}

._form-branding {
    display: none;

}
.input-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#email {
    color: #FFFFFF !important;
    background-color: #FFFFFF33 !important;
    border: none !important;
}
#email, #_form_29_submit {
    width: 450px !important;
    height: 45px !important;
    border-radius: 14px !important;
}
